<!DOCTYPE html>
<html>
<head>
  <title>PremiumCola</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= content_for :head %>
</head>
<body>

  <div class="topbar">
    <div class="fill">
      <div class="container">
        <%= link_to "Premium Finder", root_path, :class => "brand" %>
        <% if user_signed_in? %>
         <ul class="nav">
           <li <% if current_page?(addresses_path) %>class="active"<% end %>><%= link_to 'Übersicht', addresses_path %></li>
           <li <% if current_page?(upload_path) %>class="active"<% end %>><%= link_to 'Hochladen', upload_path %></li>
           <li <% if current_page?(maps_path) %>class="active"<% end %>><%= link_to 'Kartenansicht', maps_path %></li>
        </ul>
        <% end %>
        <ul class='nav secondary-nav'>
          <% if !user_signed_in? %>
            <li><%= link_to('Anmelden', new_user_session_path, :class =>'nav') %></li>
          <% else %>
            <li><%= link_to('Abmelden', destroy_user_session_path, :method => :delete, :class =>'nav') %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content">
    <% if notice %>
    <div class="alert-message warning">
      <a class="close" href="#">×</a>
      <p><%= notice %></p>
    </div>
    <% end %>

    <% if alert %>
    <div class="alert-message error">
      <a class="close" href="#">×</a>
      <p><%= alert %></p>
    </div>
    <% end %>

    <%= yield %>

    </div>
  </div>

</body>
</html>
